<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Count My Hours</title>
    <link rel="stylesheet" href="index.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="loading-button.js" defer></script>
    <script src="active-nav.js" defer></script>
</head>